<table>
  <tr>
    <td><sudoku-cell [name]="01" [blockService]="block1Service" [columnService]="column1Service" [rowService]="row1Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="02" [blockService]="block1Service" [columnService]="column2Service" [rowService]="row1Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="03" [blockService]="block1Service" [columnService]="column3Service" [rowService]="row1Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="04" [blockService]="block2Service" [columnService]="column4Service" [rowService]="row1Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="05" [blockService]="block2Service" [columnService]="column5Service" [rowService]="row1Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="06" [blockService]="block2Service" [columnService]="column6Service" [rowService]="row1Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="07" [blockService]="block3Service" [columnService]="column7Service" [rowService]="row1Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="08" [blockService]="block3Service" [columnService]="column8Service" [rowService]="row1Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="09" [blockService]="block3Service" [columnService]="column9Service" [rowService]="row1Service"></sudoku-cell></td>
  </tr>
  <tr>
    <td><sudoku-cell [name]="10" [blockService]="block1Service" [columnService]="column1Service" [rowService]="row2Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="11" [blockService]="block1Service" [columnService]="column2Service" [rowService]="row2Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="12" [blockService]="block1Service" [columnService]="column3Service" [rowService]="row2Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="13" [blockService]="block2Service" [columnService]="column4Service" [rowService]="row2Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="14" [blockService]="block2Service" [columnService]="column5Service" [rowService]="row2Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="15" [blockService]="block2Service" [columnService]="column6Service" [rowService]="row2Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="16" [blockService]="block3Service" [columnService]="column7Service" [rowService]="row2Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="17" [blockService]="block3Service" [columnService]="column8Service" [rowService]="row2Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="18" [blockService]="block3Service" [columnService]="column9Service" [rowService]="row2Service"></sudoku-cell></td>
  </tr>
  <tr>
    <td><sudoku-cell [name]="19" [blockService]="block1Service" [columnService]="column1Service" [rowService]="row3Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="20" [blockService]="block1Service" [columnService]="column2Service" [rowService]="row3Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="21" [blockService]="block1Service" [columnService]="column3Service" [rowService]="row3Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="22" [blockService]="block2Service" [columnService]="column4Service" [rowService]="row3Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="23" [blockService]="block2Service" [columnService]="column5Service" [rowService]="row3Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="24" [blockService]="block2Service" [columnService]="column6Service" [rowService]="row3Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="25" [blockService]="block3Service" [columnService]="column7Service" [rowService]="row3Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="26" [blockService]="block3Service" [columnService]="column8Service" [rowService]="row3Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="27" [blockService]="block3Service" [columnService]="column9Service" [rowService]="row3Service"></sudoku-cell></td>
  </tr>
  <tr class="centrale">
    <td><sudoku-cell [name]="28" [blockService]="block4Service" [columnService]="column1Service" [rowService]="row4Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="29" [blockService]="block4Service" [columnService]="column2Service" [rowService]="row4Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="30" [blockService]="block4Service" [columnService]="column3Service" [rowService]="row4Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="31" [blockService]="block5Service" [columnService]="column4Service" [rowService]="row4Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="32" [blockService]="block5Service" [columnService]="column5Service" [rowService]="row4Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="33" [blockService]="block5Service" [columnService]="column6Service" [rowService]="row4Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="34" [blockService]="block6Service" [columnService]="column7Service" [rowService]="row4Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="35" [blockService]="block6Service" [columnService]="column8Service" [rowService]="row4Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="36" [blockService]="block6Service" [columnService]="column9Service" [rowService]="row4Service"></sudoku-cell></td>
  </tr>
  <tr class="centrale">
    <td><sudoku-cell [name]="37" [blockService]="block4Service" [columnService]="column1Service" [rowService]="row5Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="38" [blockService]="block4Service" [columnService]="column2Service" [rowService]="row5Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="39" [blockService]="block4Service" [columnService]="column3Service" [rowService]="row5Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="40" [blockService]="block5Service" [columnService]="column4Service" [rowService]="row5Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="41" [blockService]="block5Service" [columnService]="column5Service" [rowService]="row5Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="42" [blockService]="block5Service" [columnService]="column6Service" [rowService]="row5Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="43" [blockService]="block6Service" [columnService]="column7Service" [rowService]="row5Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="44" [blockService]="block6Service" [columnService]="column8Service" [rowService]="row5Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="45" [blockService]="block6Service" [columnService]="column9Service" [rowService]="row5Service"></sudoku-cell></td>
  </tr>
  <tr class="centrale">
    <td><sudoku-cell [name]="46" [blockService]="block4Service" [columnService]="column1Service" [rowService]="row6Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="47" [blockService]="block4Service" [columnService]="column2Service" [rowService]="row6Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="48" [blockService]="block4Service" [columnService]="column3Service" [rowService]="row6Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="49" [blockService]="block5Service" [columnService]="column4Service" [rowService]="row6Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="50" [blockService]="block5Service" [columnService]="column5Service" [rowService]="row6Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="51" [blockService]="block5Service" [columnService]="column6Service" [rowService]="row6Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="52" [blockService]="block6Service" [columnService]="column7Service" [rowService]="row6Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="53" [blockService]="block6Service" [columnService]="column8Service" [rowService]="row6Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="54" [blockService]="block6Service" [columnService]="column9Service" [rowService]="row6Service"></sudoku-cell></td>
  </tr>
  <tr>
    <td><sudoku-cell [name]="55" [blockService]="block7Service" [columnService]="column1Service" [rowService]="row7Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="56" [blockService]="block7Service" [columnService]="column2Service" [rowService]="row7Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="57" [blockService]="block7Service" [columnService]="column3Service" [rowService]="row7Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="58" [blockService]="block8Service" [columnService]="column4Service" [rowService]="row7Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="59" [blockService]="block8Service" [columnService]="column5Service" [rowService]="row7Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="60" [blockService]="block8Service" [columnService]="column6Service" [rowService]="row7Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="61" [blockService]="block9Service" [columnService]="column7Service" [rowService]="row7Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="62" [blockService]="block9Service" [columnService]="column8Service" [rowService]="row7Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="63" [blockService]="block9Service" [columnService]="column9Service" [rowService]="row7Service"></sudoku-cell></td>
  </tr>
  <tr>
    <td><sudoku-cell [name]="64" [blockService]="block7Service" [columnService]="column1Service" [rowService]="row8Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="65" [blockService]="block7Service" [columnService]="column2Service" [rowService]="row8Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="66" [blockService]="block7Service" [columnService]="column3Service" [rowService]="row8Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="67" [blockService]="block8Service" [columnService]="column4Service" [rowService]="row8Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="68" [blockService]="block8Service" [columnService]="column5Service" [rowService]="row8Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="69" [blockService]="block8Service" [columnService]="column6Service" [rowService]="row8Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="70" [blockService]="block9Service" [columnService]="column7Service" [rowService]="row8Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="71" [blockService]="block9Service" [columnService]="column8Service" [rowService]="row8Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="72" [blockService]="block9Service" [columnService]="column9Service" [rowService]="row8Service"></sudoku-cell></td>
  </tr>
  <tr>
    <td><sudoku-cell [name]="73" [blockService]="block7Service" [columnService]="column1Service" [rowService]="row9Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="74" [blockService]="block7Service" [columnService]="column2Service" [rowService]="row9Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="75" [blockService]="block7Service" [columnService]="column3Service" [rowService]="row9Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="76" [blockService]="block8Service" [columnService]="column4Service" [rowService]="row9Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="77" [blockService]="block8Service" [columnService]="column5Service" [rowService]="row9Service"></sudoku-cell></td>
    <td class="centrale"><sudoku-cell [name]="78" [blockService]="block8Service" [columnService]="column6Service" [rowService]="row9Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="79" [blockService]="block9Service" [columnService]="column7Service" [rowService]="row9Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="80" [blockService]="block9Service" [columnService]="column8Service" [rowService]="row9Service"></sudoku-cell></td>
    <td><sudoku-cell [name]="81" [blockService]="block9Service" [columnService]="column9Service" [rowService]="row9Service"></sudoku-cell></td>
  </tr>
</table>

<!--<sudoku-column [id]="1" [(case1)]="case1" [(case2)]="case10" [(case3)]="case19" [(case4)]="case28" [(case5)]="case37" [(case6)]="case46" [(case7)]="case55" [(case8)]="case64" [(case9)]="case73"></sudoku-column>
<sudoku-column [id]="2" [(case1)]="case2" [(case2)]="case11" [(case3)]="case20" [(case4)]="case29" [(case5)]="case38" [(case6)]="case47" [(case7)]="case56" [(case8)]="case65" [(case9)]="case74"></sudoku-column>
<sudoku-column [id]="3" [(case1)]="case3" [(case2)]="case12" [(case3)]="case21" [(case4)]="case30" [(case5)]="case39" [(case6)]="case48" [(case7)]="case57" [(case8)]="case66" [(case9)]="case75"></sudoku-column>
<sudoku-column [id]="4" [(case1)]="case4" [(case2)]="case13" [(case3)]="case22" [(case4)]="case31" [(case5)]="case40" [(case6)]="case49" [(case7)]="case58" [(case8)]="case67" [(case9)]="case76"></sudoku-column>
<sudoku-column [id]="5" [(case1)]="case5" [(case2)]="case14" [(case3)]="case23" [(case4)]="case32" [(case5)]="case41" [(case6)]="case50" [(case7)]="case59" [(case8)]="case68" [(case9)]="case77"></sudoku-column>
<sudoku-column [id]="6" [(case1)]="case6" [(case2)]="case15" [(case3)]="case24" [(case4)]="case33" [(case5)]="case42" [(case6)]="case51" [(case7)]="case60" [(case8)]="case69" [(case9)]="case78"></sudoku-column>
<sudoku-column [id]="7" [(case1)]="case7" [(case2)]="case16" [(case3)]="case25" [(case4)]="case34" [(case5)]="case43" [(case6)]="case52" [(case7)]="case61" [(case8)]="case70" [(case9)]="case79"></sudoku-column>
<sudoku-column [id]="8" [(case1)]="case8" [(case2)]="case17" [(case3)]="case26" [(case4)]="case35" [(case5)]="case44" [(case6)]="case53" [(case7)]="case62" [(case8)]="case71" [(case9)]="case80"></sudoku-column>
<sudoku-column [id]="9" [(case1)]="case9" [(case2)]="case18" [(case3)]="case27" [(case4)]="case36" [(case5)]="case45" [(case6)]="case54" [(case7)]="case63" [(case8)]="case72" [(case9)]="case81"></sudoku-column>

<sudoku-row [id]="1" [(case1)]="case1" [(case2)]="case2" [(case3)]="case3" [(case4)]="case4" [(case5)]="case5" [(case6)]="case6" [(case7)]="case7" [(case8)]="case8" [(case9)]="case9"></sudoku-row>
<sudoku-row [id]="2" [(case1)]="case10" [(case2)]="case11" [(case3)]="case12" [(case4)]="case13" [(case5)]="case14" [(case6)]="case15" [(case7)]="case16" [(case8)]="case17" [(case9)]="case18"></sudoku-row>
<sudoku-row [id]="3" [(case1)]="case19" [(case2)]="case20" [(case3)]="case21" [(case4)]="case22" [(case5)]="case23" [(case6)]="case24" [(case7)]="case25" [(case8)]="case26" [(case9)]="case27"></sudoku-row>
<sudoku-row [id]="4" [(case1)]="case28" [(case2)]="case29" [(case3)]="case30" [(case4)]="case31" [(case5)]="case32" [(case6)]="case33" [(case7)]="case34" [(case8)]="case35" [(case9)]="case36"></sudoku-row>
<sudoku-row [id]="5" [(case1)]="case37" [(case2)]="case38" [(case3)]="case39" [(case4)]="case40" [(case5)]="case41" [(case6)]="case42" [(case7)]="case43" [(case8)]="case44" [(case9)]="case45"></sudoku-row>
<sudoku-row [id]="6" [(case1)]="case46" [(case2)]="case47" [(case3)]="case48" [(case4)]="case49" [(case5)]="case50" [(case6)]="case51" [(case7)]="case52" [(case8)]="case53" [(case9)]="case54"></sudoku-row>
<sudoku-row [id]="7" [(case1)]="case55" [(case2)]="case56" [(case3)]="case57" [(case4)]="case58" [(case5)]="case59" [(case6)]="case60" [(case7)]="case61" [(case8)]="case62" [(case9)]="case63"></sudoku-row>
<sudoku-row [id]="8" [(case1)]="case64" [(case2)]="case65" [(case3)]="case66" [(case4)]="case67" [(case5)]="case68" [(case6)]="case69" [(case7)]="case70" [(case8)]="case71" [(case9)]="case72"></sudoku-row>
<sudoku-row [id]="9" [(case1)]="case73" [(case2)]="case74" [(case3)]="case75" [(case4)]="case76" [(case5)]="case77" [(case6)]="case78" [(case7)]="case79" [(case8)]="case80" [(case9)]="case81"></sudoku-row>

<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>
<sudoku-trois-par-trois></sudoku-trois-par-trois>


<table>
  <tr *ngFor="let row of rows">
    <td *ngFor="let column of columns">
      <sudoku-cell [row]="row" [column]="column"></sudoku-cell>
    </td>
  </tr>
</table>

<sudoku-column *ngFor="let column of columns" [number]="column"></sudoku-column>
<sudoku-row *ngFor="let row of rows" [number]="row"></sudoku-row>
<sudoku-bloc *ngFor="let bloc of blocs" [number]="bloc"></sudoku-bloc>-->