table {
    border: 2px solid #000000;
    margin: 0 auto;
}

td {
    border: 1px solid grey;
    cursor: pointer;
}

td span {
    display: none;
    width: 18px;
    height: 18px;
    text-align: center;
}

td span.show {
    display: block;
}

.discovered-cell {
    text-align: center;
    font-size: 64px;
    margin: 0;
}
.discovered-cell.script-resolved-cell {
    background-color: green;
    color: white;
}