<table *ngIf="possibleValues.length > 1">
  <tr>
    <td (click)="resolveBox(1)"><span [ngClass]="{'show': isPossibleValue(1)}">1</span></td>
    <td (click)="resolveBox(2)"><span [ngClass]="{'show': isPossibleValue(2)}">2</span></td>
    <td (click)="resolveBox(3)"><span [ngClass]="{'show': isPossibleValue(3)}">3</span></td>
  </tr>
  <tr>
    <td (click)="resolveBox(4)"><span [ngClass]="{'show': isPossibleValue(4)}">4</span></td>
    <td (click)="resolveBox(5)"><span [ngClass]="{'show': isPossibleValue(5)}">5</span></td>
    <td (click)="resolveBox(6)"><span [ngClass]="{'show': isPossibleValue(6)}">6</span></td>
  </tr>
  <tr>
    <td (click)="resolveBox(7)"><span [ngClass]="{'show': isPossibleValue(7)}">7</span></td>
    <td (click)="resolveBox(8)"><span [ngClass]="{'show': isPossibleValue(8)}">8</span></td>
    <td (click)="resolveBox(9)"><span [ngClass]="{'show': isPossibleValue(9)}">9</span></td>
  </tr>
</table>

<p class="discovered-cell" *ngIf="possibleValues.length == 1">{{possibleValues[0]}}</p>